.header {
    background-color: #3f51b5;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
}

.form {
    width: 100%;
    max-width: 600px;
    display: flex;
}

.input {
    flex-grow: 1;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.button {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
}